/* General styling*/

body {
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  text-align: center;
  color: black;
}

.button {
  background-color: rgb(75, 130, 194);
  color: white;
  text-align: center;
  font-size: 16px;
  display: inline-block;
  padding: auto;
  border-radius: 8px;
}
button:hover {
  background-color: blue;
  color: white;
}

.bottom-line {
  text-align: center;
  padding: 20px 0 20px 40px;
  bottom: 8px;
}
.rows container-fluid {
  text-align: center;
  margin-left: 40%;
  padding-left: 40%;
}
#Start-button {
  background-color: lightblue;
  text-decoration-color: lightgray;
}
.navbar {
  height: 64px;
  background: #fff;
  border: 1px solid #ebebeb;
  width: 100%;
  z-index: 9999;
  color: black;
}

.row {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

/*home page style */
.home-page-form {
  border-style: solid;
  margin-top: 50px;
  padding: 20px 20px 20px 20px;
  border-color: lightslategrey;
  border-radius: 15px;
  background-color: white;
  border: 1px;
  box-shadow: 1px 1px 2px 2px #d6d4d4;
}

.terms_and_conditions {
  padding-left: 0;
  font-size: 13px;
}
ul .nav nav-pills {
  margin-right: 20px;
}

/*login page */
.main {
  position: relative;
  float: left;
  width: 1700px;
  padding: 0 500px;
}
#conditions {
  color: blue;
  text-decoration: none;
}
